@import "../colors.scss";
@import "../var.scss";

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.btn-purple {
    background-color: $bg-purple;
    width: 175px;
    height: 42px;
    color: white;
    border-radius: 39px;
    @include button-font;
    &:disabled {
        opacity: 0.4;
    }
}

.btn-md-purple {
    background-color: $bg-purple;
    width: 120px;
    height: 37.02px;
    color: $bg-white;
    border-radius: 34px;
    @include btn-sm-font;
    &:disabled {
        opacity: 0.4;
    }
}

.btn-sm-purple {
    background-color: $bg-purple;
    width: 82.76px;
    height: 37.02px;
    color: $bg-white;
    border-radius: 34px;
    @include btn-sm-font;
    &:disabled {
        opacity: 0.4;
    }
}

.btn-sm-light-purple {
    background-color: $bg-light-purple;
    width: 82.76px;
    height: 37.02px;
    color: $bg-purple;
    border-radius: 34px;
    @include btn-sm-font;
}
