$bg-white: #fff;
$error-red: #df1c41;
$box-shadow-black: #565be00f;
$bg-purple: #744bfc;
$bg-light-purple: #f5f7ff;
$border-gray: #e2e4e9;
$black-color: #0a0d14;
$font-black: #000000;
$green-color: #00ff00;
$yellow: #ffff00;
$bg-home-linear-gradient: linear-gradient(180deg, #eff2ff -30.56%, rgba(232, 236, 255, 0) 135.85%);
$bg-overlay: rgba(0, 0, 0, 0.5);
$bg-dialog-white: #fff;
$dialog-box-shadow: #00000040;
$dialog-input-border: #d9d9d9;
$dialog-label-color: #06163a;
$text-gray: #c9c9c9;
$border-light-gray: #eaeaea;
$border-light-purple: #cfc0ff;
$filter-input-color: #8c8c8c;
$border-table: #c4cee5;
$table-box-shadow: #0000001c;
$bg-overlay-loading: rgba(255, 255, 255, 0.4);
